header {
    background: white;
}

.logo-wrapper {
    display: block;
    width: 400px;
    min-height: 90px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    float: left;
    margin-left: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-weight: 700;
    padding-top: 12px;
}

header h6 {
    margin-top: -10px;
}

.siteNav {
    background: darkgoldenrod;
    color: white;
    padding: 8px;
    margin-top: 12px;
    border-top: 1px solid darkblue;
}

.foodOuterWrapper {
    padding: 24px;
    background-image: url("./assets/2.jpg");
    border: 1px solid black;
    max-width: 1400px;
    height: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#background {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
    margin: auto;
    height: 100%;
}

.jumbotron {
    opacity: 0.9;
    background-color: #000;
    padding: 4px 4px;
    border: 1px solid rgba(255, 255, 255, .5);
}

form#search-food input {
    width: 88%;
    opacity: 1.0;
    float: left;
    height: 31px;
    margin-right: 8px;
}


}

}
.cardGroup {
    /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
    display: flex;
    border-radius: 4px;
}
.cardGroup__card {
    /**
     * The flex property is a short-hand for setting
     * the flex-grow, flex-shrink, and flex-basis
     * properties. These properties control how the
     * element resizes to fill its container.
     *
     * We'll set flex-grow to 1 so that it will
     * expand to fill its container. (The default
     * default value is 0.)
     *
     * We'll also set flex-shrink to 1 so that the
     * element will shrink as its container gets
     * smaller. (The default value is 1.)
     *
     * Last, we set flex-basis to 0 so that its
     * size is solely determined by the size of
     * the container. (The default value
     * is auto, which would cause the content's
     * size to also be a factor in this calculation.)
     *
     * The net result of these properties is that the
     * element is a fluid size, and will expand and
     * shrink with its container and siblings, but
     * they will all have the same size, even if they
     * have different amounts of content.
     *
     * NOTE: IE11 ignores flex short-hand declarations
     * with unitless flex-basis values. So we have to
     * use 0% instead of 0 as a workaround. You can
     * find more info at:
     * github.com/philipwalton/flexbugs.
     */
    border: none;
    min-height: 390px;
    border-radius: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: 16px;
    border-radius: 8px;
    text-align: center;
    opacity: 0.9;
    border: 1px solid saddlebrown;
}
.cardGroup__card:hover {
    box-shadow: 0 0 1px 1px #fff;
}
.vegetable {
    background: #ebfde7;
}
.chicken {
    background: #e9e5d5;
}
.beef {
    background: #e9d5e7;
}
.fish {
    background: #d5e9e9;
}
.cardGroup__card+.cardGroup__card {
    border-left: 1px solid #D7DBDD;
}
.cardGroup__cardDescription {
    /**
     * We're doing almost the exact same thing here as
     * we did above. The difference is that its
     * flex-basis is auto, so now the size of its content
     * will affect how large it is.
     */
    flex: 1 1 auto;
    padding-bottom: 12px;
}
.cardGroup__cardDescription img {
    width: 114%;
    margin-left: -16px;
    border-top: 1px solid lightcoral;
    border-bottom: 1px solid lightcoral;
    margin-bottom: 16px;
    max-height: 137px;
    max-width: 273px;
    border-radius: 8px 8px 0px 0px;
}
.card__price button {
    font-size: 11px;
    margin-right: 8px;
    font-weight: 700;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 1px;
    padding-right: 1px;
}
.recipe-wrapper {
    background: beige;
    border-radius: 8px;
    padding: 32px;
}

/* bobb */