
<div class = "jumbotron" style="width: 100%; background: beige; color: black;">
    <h6> welcome to your shopping list </h6>

    <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
		<tbody>
			{{#each ingredients}}
			<tr>
				<td>{{this.original}}</td>
				<td><i id="remove" class="far fa-trash-alt"></i></td>
				<td>&nbsp;</td>
			</tr>
			{{/each}}
		</tbody>

	</table>
        <hr/>
        <h4>Add a new item</h4>
        <table></table>
        <tr>
            <form><td> <input placeholder="your new item here"></td></form>
			<td><i id="remove" class="far fa-trash-alt"></i></td>
			<td>&nbsp;</td>
		</tr>
	    </tbody>
        </table>

</div>

<style>
    div.search {
        display: none;
    }
</style>

<a href="#/search" style="float: right;" class="mb-4 btn btn-sm btn-success">Back to Recipe Search</a>
<br clear="all">