<div class = "jumbotron" style="background: beige; color: black;">
    <h6> welcome to your shopping list </h6>

    <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td>shopping list item 1</td>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>shopping list item 2</td>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>shopping list item 3</td>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>shopping list item 4</td>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>shopping list item 5</td>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>shopping list item 6</td>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
        </table>>
        <h4>Add a new item</h4>
        <table></table>
        <tr>
            <form><td> <input placeholder="your new item here"></td></form>
			<td><a class="btn btm-sm btn-danger">remove from list</a></td>
			<td>&nbsp;</td>
		</tr>
	    </tbody>
        </table>

</div>